# Summary -Project Milestone 1
I started working on Project Milestone 1, by uploading the Telco Customer Churn dataset and conducting an initial exploration to understand its structure and key features. During this exploration, I removed irrelevant columns that wouldn't contribute to the analysis, ensuring the dataset focuses on the most meaningful information. I also checked for missing values, discovering that columns like Churn Category and Churn Reason had missing data. However, I decided to keep these columns because they provide valuable insights into why customers may churn, which is crucial for predicting customer retention.

After cleaning the data, I created two new columns to enhance the analysis. The first, Customer Lifetime Value (CLV), was calculated by multiplying the Monthly Charges a customer pays by their Tenure (how long theyâ€™ve been a customer). This gives an estimate of how much value a customer brings over their lifetime. The second, Average Monthly Spend, was calculated by dividing Total Charges by Tenure to understand how much a customer spends on average each month. These new columns provide a deeper understanding of customer behavior, which will be valuable for predicting churn and assessing customer value in future analyses.

In [250]:
import pandas as pd
import numpy as np
import seaborn as sns

In [251]:
my_data = pd.read_csv('telco.csv')

In [252]:
my_data.head

<bound method NDFrame.head of      Customer ID  Gender  Age Under 30 Senior Citizen Married Dependents  \
0     8779-QRDMV    Male   78       No            Yes      No         No
1     7495-OOKFY  Female   74       No            Yes     Yes        Yes
2     1658-BYGOY    Male   71       No            Yes      No        Yes
3     4598-XLKNJ  Female   78       No            Yes     Yes        Yes
4     4846-WHAFZ  Female   80       No            Yes     Yes        Yes
...          ...     ...  ...      ...            ...     ...        ...
7038  2569-WGERO  Female   30       No             No      No         No
7039  6840-RESVB    Male   38       No             No     Yes        Yes
7040  2234-XADUH  Female   30       No             No     Yes        Yes
7041  4801-JZAZL  Female   32       No             No     Yes        Yes
7042  3186-AJIEK    Male   44       No             No      No         No

      Number of Dependents        Country       State  ...  \
0                        0  United States  California  ...
1                        1  United States  California  ...
2                        3  United States  California  ...
3                        1  United States  California  ...
4                        1  United States  California  ...
...                    ...            ...         ...  ...
7038                     0  United States  California  ...
7039                     2  United States  California  ...
7040                     2  United States  California  ...
7041                     2  United States  California  ...
7042                     0  United States  California  ...

     Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
0                          20                         0.00          59.65
1                           0                       390.80        1024.10
2                           0                       203.94        1910.88
3                           0                       494.00        2995.07
4                           0                       234.21        3102.36
...                       ...                          ...            ...
7038                        0                      1639.44        3039.53
7039                        0                       865.20        2807.47
7040                        0                      2135.52        9453.04
7041                        0                         0.00         319.21
7042                        0                      2043.36        8887.86

      Satisfaction Score  Customer Status Churn Label Churn Score  CLTV  \
0                      3          Churned         Yes          91  5433
1                      3          Churned         Yes          69  5302
2                      2          Churned         Yes          81  3179
3                      2          Churned         Yes          88  5337
4                      2          Churned         Yes          67  2793
...                  ...              ...         ...         ...   ...
7038                   5           Stayed          No          45  5306
7039                   3           Stayed          No          59  2140
7040                   4           Stayed          No          71  5560
7041                   4           Stayed          No          59  2793
7042                   4           Stayed          No          38  5097

       Churn Category                  Churn Reason
0          Competitor  Competitor offered more data
1          Competitor  Competitor made better offer
2          Competitor  Competitor made better offer
3     Dissatisfaction     Limited range of services
4               Price            Extra data charges
...               ...                           ...
7038              NaN                           NaN
7039              NaN                           NaN
7040              NaN                           NaN
7041              NaN                           NaN
7042              NaN                           NaN

[7043 rows x 50 columns]>

In [253]:
my_data.info

<bound method DataFrame.info of      Customer ID  Gender  Age Under 30 Senior Citizen Married Dependents  \
0     8779-QRDMV    Male   78       No            Yes      No         No
1     7495-OOKFY  Female   74       No            Yes     Yes        Yes
2     1658-BYGOY    Male   71       No            Yes      No        Yes
3     4598-XLKNJ  Female   78       No            Yes     Yes        Yes
4     4846-WHAFZ  Female   80       No            Yes     Yes        Yes
...          ...     ...  ...      ...            ...     ...        ...
7038  2569-WGERO  Female   30       No             No      No         No
7039  6840-RESVB    Male   38       No             No     Yes        Yes
7040  2234-XADUH  Female   30       No             No     Yes        Yes
7041  4801-JZAZL  Female   32       No             No     Yes        Yes
7042  3186-AJIEK    Male   44       No             No      No         No

      Number of Dependents        Country       State  ...  \
0                        0  United States  California  ...
1                        1  United States  California  ...
2                        3  United States  California  ...
3                        1  United States  California  ...
4                        1  United States  California  ...
...                    ...            ...         ...  ...
7038                     0  United States  California  ...
7039                     2  United States  California  ...
7040                     2  United States  California  ...
7041                     2  United States  California  ...
7042                     0  United States  California  ...

     Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
0                          20                         0.00          59.65
1                           0                       390.80        1024.10
2                           0                       203.94        1910.88
3                           0                       494.00        2995.07
4                           0                       234.21        3102.36
...                       ...                          ...            ...
7038                        0                      1639.44        3039.53
7039                        0                       865.20        2807.47
7040                        0                      2135.52        9453.04
7041                        0                         0.00         319.21
7042                        0                      2043.36        8887.86

      Satisfaction Score  Customer Status Churn Label Churn Score  CLTV  \
0                      3          Churned         Yes          91  5433
1                      3          Churned         Yes          69  5302
2                      2          Churned         Yes          81  3179
3                      2          Churned         Yes          88  5337
4                      2          Churned         Yes          67  2793
...                  ...              ...         ...         ...   ...
7038                   5           Stayed          No          45  5306
7039                   3           Stayed          No          59  2140
7040                   4           Stayed          No          71  5560
7041                   4           Stayed          No          59  2793
7042                   4           Stayed          No          38  5097

       Churn Category                  Churn Reason
0          Competitor  Competitor offered more data
1          Competitor  Competitor made better offer
2          Competitor  Competitor made better offer
3     Dissatisfaction     Limited range of services
4               Price            Extra data charges
...               ...                           ...
7038              NaN                           NaN
7039              NaN                           NaN
7040              NaN                           NaN
7041              NaN                           NaN
7042              NaN                           NaN

[7043 rows x 50 columns]>

In [254]:
# Checking Missing Values
my_data.isnull().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Population                              0
Quarter                                 0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [255]:
my_data.describe

<bound method NDFrame.describe of      Customer ID  Gender  Age Under 30 Senior Citizen Married Dependents  \
0     8779-QRDMV    Male   78       No            Yes      No         No
1     7495-OOKFY  Female   74       No            Yes     Yes        Yes
2     1658-BYGOY    Male   71       No            Yes      No        Yes
3     4598-XLKNJ  Female   78       No            Yes     Yes        Yes
4     4846-WHAFZ  Female   80       No            Yes     Yes        Yes
...          ...     ...  ...      ...            ...     ...        ...
7038  2569-WGERO  Female   30       No             No      No         No
7039  6840-RESVB    Male   38       No             No     Yes        Yes
7040  2234-XADUH  Female   30       No             No     Yes        Yes
7041  4801-JZAZL  Female   32       No             No     Yes        Yes
7042  3186-AJIEK    Male   44       No             No      No         No

      Number of Dependents        Country       State  ...  \
0                        0  United States  California  ...
1                        1  United States  California  ...
2                        3  United States  California  ...
3                        1  United States  California  ...
4                        1  United States  California  ...
...                    ...            ...         ...  ...
7038                     0  United States  California  ...
7039                     2  United States  California  ...
7040                     2  United States  California  ...
7041                     2  United States  California  ...
7042                     0  United States  California  ...

     Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
0                          20                         0.00          59.65
1                           0                       390.80        1024.10
2                           0                       203.94        1910.88
3                           0                       494.00        2995.07
4                           0                       234.21        3102.36
...                       ...                          ...            ...
7038                        0                      1639.44        3039.53
7039                        0                       865.20        2807.47
7040                        0                      2135.52        9453.04
7041                        0                         0.00         319.21
7042                        0                      2043.36        8887.86

      Satisfaction Score  Customer Status Churn Label Churn Score  CLTV  \
0                      3          Churned         Yes          91  5433
1                      3          Churned         Yes          69  5302
2                      2          Churned         Yes          81  3179
3                      2          Churned         Yes          88  5337
4                      2          Churned         Yes          67  2793
...                  ...              ...         ...         ...   ...
7038                   5           Stayed          No          45  5306
7039                   3           Stayed          No          59  2140
7040                   4           Stayed          No          71  5560
7041                   4           Stayed          No          59  2793
7042                   4           Stayed          No          38  5097

       Churn Category                  Churn Reason
0          Competitor  Competitor offered more data
1          Competitor  Competitor made better offer
2          Competitor  Competitor made better offer
3     Dissatisfaction     Limited range of services
4               Price            Extra data charges
...               ...                           ...
7038              NaN                           NaN
7039              NaN                           NaN
7040              NaN                           NaN
7041              NaN                           NaN
7042              NaN                           NaN

[7043 rows x 50 columns]>

In [256]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   object
 9   State                              7043 non-null   object
 10  City                               7043 non-null   object
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   object
 16  Referred a Friend                  7043 non-null   object
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   object
 20  Phone Service                      7043 non-null   object
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   object
 23  Internet Service                   7043 non-null   object
 24  Internet Type                      5517 non-null   object
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   object
 27  Online Backup                      7043 non-null   object
 28  Device Protection Plan             7043 non-null   object
 29  Premium Tech Support               7043 non-null   object
 30  Streaming TV                       7043 non-null   object
 31  Streaming Movies                   7043 non-null   object
 32  Streaming Music                    7043 non-null   object
 33  Unlimited Data                     7043 non-null   object
 34  Contract                           7043 non-null   object
 35  Paperless Billing                  7043 non-null   object
 36  Payment Method                     7043 non-null   object
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   object
 45  Churn Label                        7043 non-null   object
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   object
 49  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(31)
memory usage: 2.7+ MB

In [257]:
my_data.columns

Index(['Customer ID', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married',
       'Dependents', 'Number of Dependents', 'Country', 'State', 'City',
       'Zip Code', 'Latitude', 'Longitude', 'Population', 'Quarter',
       'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer',
       'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [258]:
# Removing irrelevant columns from the Dataframe
rem_columns = [
    'Customer ID', 'Under 30', 'Number of Dependents', 'Country', 'State', 'City', 'Zip Code',
    'Latitude', 'Longitude', 'Population', 'Quarter', 'Number of Referrals', 'Offer',
    'Avg Monthly Long Distance Charges', 'Internet Type', 'Avg Monthly GB Download',
    'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges',
    'Satisfaction Score', 'Customer Status'
]

# Drop the unnecessary columns
df_cleaned = my_data.drop(columns= rem_columns)

# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv("telco_cleaned.csv", index=False)



# Assign the cleaned data to 'my_data'
my_ndata = df_cleaned

# Display the first few rows of 'my_data' to confirm
my_ndata.head()

,Gender,Age,Senior Citizen,Married,Dependents,Referred a Friend,Tenure in Months,Phone Service,Multiple Lines,Internet Service,...,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Revenue,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,Male,78,Yes,No,No,No,1,No,No,Yes,...,Yes,Bank Withdrawal,39.65,39.65,59.65,Yes,91,5433,Competitor,Competitor offered more data
1,Female,74,Yes,Yes,Yes,Yes,8,Yes,Yes,Yes,...,Yes,Credit Card,80.65,633.30,1024.10,Yes,69,5302,Competitor,Competitor made better offer
2,Male,71,Yes,No,Yes,No,18,Yes,Yes,Yes,...,Yes,Bank Withdrawal,95.45,1752.55,1910.88,Yes,81,3179,Competitor,Competitor made better offer
3,Female,78,Yes,Yes,Yes,Yes,25,Yes,No,Yes,...,Yes,Bank Withdrawal,98.50,2514.50,2995.07,Yes,88,5337,Dissatisfaction,Limited range of services
4,Female,80,Yes,Yes,Yes,Yes,37,Yes,Yes,Yes,...,Yes,Bank Withdrawal,76.50,2868.15,3102.36,Yes,67,2793,Price,Extra data charges

In [259]:
my_ndata.columns

Index(['Gender', 'Age', 'Senior Citizen', 'Married', 'Dependents',
       'Referred a Friend', 'Tenure in Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection Plan', 'Premium Tech Support',
       'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Revenue', 'Churn Label', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')

In [260]:
my_ndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  7043 non-null   object
 1   Age                     7043 non-null   int64
 2   Senior Citizen          7043 non-null   object
 3   Married                 7043 non-null   object
 4   Dependents              7043 non-null   object
 5   Referred a Friend       7043 non-null   object
 6   Tenure in Months        7043 non-null   int64
 7   Phone Service           7043 non-null   object
 8   Multiple Lines          7043 non-null   object
 9   Internet Service        7043 non-null   object
 10  Online Security         7043 non-null   object
 11  Online Backup           7043 non-null   object
 12  Device Protection Plan  7043 non-null   object
 13  Premium Tech Support    7043 non-null   object
 14  Streaming TV            7043 non-null   object
 15  Streaming Movies        7043 non-null   object
 16  Streaming Music         7043 non-null   object
 17  Unlimited Data          7043 non-null   object
 18  Contract                7043 non-null   object
 19  Paperless Billing       7043 non-null   object
 20  Payment Method          7043 non-null   object
 21  Monthly Charge          7043 non-null   float64
 22  Total Charges           7043 non-null   float64
 23  Total Revenue           7043 non-null   float64
 24  Churn Label             7043 non-null   object
 25  Churn Score             7043 non-null   int64
 26  CLTV                    7043 non-null   int64
 27  Churn Category          1869 non-null   object
 28  Churn Reason            1869 non-null   object
dtypes: float64(3), int64(4), object(22)
memory usage: 1.6+ MB

In [261]:
# Check for missing values in the cleaned dataset 'my_data'
missing_values = my_ndata.isnull().sum()


missing_values.info()

<class 'pandas.core.series.Series'>
Index: 29 entries, Gender to Churn Reason
Series name: None
Non-Null Count  Dtype
--------------  -----
29 non-null     int64
dtypes: int64(1)
memory usage: 1.5+ KB

In [262]:
# Show the columns with missing values
missing_values[missing_values > 0]

Churn Category    5174
Churn Reason      5174
dtype: int64

In [263]:
# Creating new column for CLV (Customer Lifetime Value)
# 1. CLV (Customer Lifetime Value)
my_ndata['CLV'] = my_ndata['Monthly Charge'] * my_ndata['Tenure in Months']

my_ndata.head

<bound method NDFrame.head of       Gender  Age Senior Citizen Married Dependents Referred a Friend  \
0       Male   78            Yes      No         No                No
1     Female   74            Yes     Yes        Yes               Yes
2       Male   71            Yes      No        Yes                No
3     Female   78            Yes     Yes        Yes               Yes
4     Female   80            Yes     Yes        Yes               Yes
...      ...  ...            ...     ...        ...               ...
7038  Female   30             No      No         No                No
7039    Male   38             No     Yes        Yes               Yes
7040  Female   30             No     Yes        Yes               Yes
7041  Female   32             No     Yes        Yes               Yes
7042    Male   44             No      No         No                No

      Tenure in Months Phone Service Multiple Lines Internet Service  ...  \
0                    1            No             No              Yes  ...
1                    8           Yes            Yes              Yes  ...
2                   18           Yes            Yes              Yes  ...
3                   25           Yes             No              Yes  ...
4                   37           Yes            Yes              Yes  ...
...                ...           ...            ...              ...  ...
7038                72           Yes             No               No  ...
7039                24           Yes            Yes              Yes  ...
7040                72           Yes            Yes              Yes  ...
7041                11            No             No              Yes  ...
7042                66           Yes             No              Yes  ...

       Payment Method Monthly Charge Total Charges Total Revenue Churn Label  \
0     Bank Withdrawal          39.65         39.65         59.65         Yes
1         Credit Card          80.65        633.30       1024.10         Yes
2     Bank Withdrawal          95.45       1752.55       1910.88         Yes
3     Bank Withdrawal          98.50       2514.50       2995.07         Yes
4     Bank Withdrawal          76.50       2868.15       3102.36         Yes
...               ...            ...           ...           ...         ...
7038  Bank Withdrawal          21.15       1419.40       3039.53          No
7039     Mailed Check          84.80       1990.50       2807.47          No
7040      Credit Card         103.20       7362.90       9453.04          No
7041  Bank Withdrawal          29.60        346.45        319.21          No
7042  Bank Withdrawal         105.65       6844.50       8887.86          No

     Churn Score  CLTV   Churn Category                  Churn Reason      CLV
0             91  5433       Competitor  Competitor offered more data    39.65
1             69  5302       Competitor  Competitor made better offer   645.20
2             81  3179       Competitor  Competitor made better offer  1718.10
3             88  5337  Dissatisfaction     Limited range of services  2462.50
4             67  2793            Price            Extra data charges  2830.50
...          ...   ...              ...                           ...      ...
7038          45  5306              NaN                           NaN  1522.80
7039          59  2140              NaN                           NaN  2035.20
7040          71  5560              NaN                           NaN  7430.40
7041          59  2793              NaN                           NaN   325.60
7042          38  5097              NaN                           NaN  6972.90

[7043 rows x 30 columns]>

In [264]:
my_ndata.columns

Index(['Gender', 'Age', 'Senior Citizen', 'Married', 'Dependents',
       'Referred a Friend', 'Tenure in Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection Plan', 'Premium Tech Support',
       'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Revenue', 'Churn Label', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason', 'CLV'],
      dtype='object')

In [265]:
#AvgMonthlySpend (Average Monthly Spend)
my_ndata['AvgMonthlySpend'] = my_ndata['Total Charges'] / my_ndata['Tenure in Months']

my_ndata.columns

Index(['Gender', 'Age', 'Senior Citizen', 'Married', 'Dependents',
       'Referred a Friend', 'Tenure in Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection Plan', 'Premium Tech Support',
       'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Revenue', 'Churn Label', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason', 'CLV', 'AvgMonthlySpend'],
      dtype='object')

References:

1. https://www.youtube.com/watch?v=6zWPaD-bkDM
2. https://www.kaggle.com/datasets/alfathterry/telco-customer-churn-11-1-3